<!-- start widget -->
<div class="widget">
	<h4 class="title">Sarah Sullivan</h4>
	<div class="content">
        Sarah is a senior at the Rhode Island School of Design pursuing a BFA in Apparel Design. A creative thinker with a passion for childrenswear, she is a hard, self-motivated worker who can be counted on to both come up with creative solutions and meet deadlines. Sarah loves fashion, cute things, and the color pink, and is excited to share all those things here on The Nosey Ros&eacute;!
	</div>
</div>
<!-- end widget -->
