<!-- start widget -->
<div class="widget">
	<h4 class="title">Instagram</h4>
	<div class="content instagram">
        <!-- SnapWidget -->
        <script src="http://snapwidget.com/js/snapwidget.js"></script>
        <iframe src="http://snapwidget.com/in/?u=c2FyYWguYS5zdWxsaXZhbnxpbnwxMjV8M3wzfHxub3w1fG5vbmV8b25TdGFydHx5ZXN8eWVz&ve=220715" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
    </div>
</div>
<!-- end widget -->
